<html>
<body>
    <div class="container">
      <div class="bg-img">
        <div class="btn-container">
            <a routerLink="" routerLinkActive="activeButton" ariaCurrentWhenActive="page" pathMatch="full" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn">Home</a>
            <a routerLink="skills" routerLinkActive="activeButton" ariaCurrentWhenActive="page" pathMatch="full" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn">Skills</a>
            <a routerLink="skills" class="btn">Education</a>
            <a class="btn">Experience</a>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
</body>
</html>
