<div class="contact-page">
  <div class="carousel-container">
    <div
      class="carousel-track"
      [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
    >
      <div class="carousel-slide" *ngFor="let img of images">
        <img [src]="img" alt="slide" />
      </div>
    </div>
  </div>

  <div class="contact-form-container">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <!-- First Name -->
      <label for="firstName">First Name</label>
      <input
        id="firstName"
        type="text"
        formControlName="firstName"
        placeholder="John"
      />
      <div
        class="error"
        *ngIf="
          contactForm.get('firstName')?.touched &&
          contactForm.get('firstName')?.invalid
        "
      >
        First name is required (min 2 chars).
      </div>

      <!-- Last Name -->
      <label for="lastName">Last Name</label>
      <input
        id="lastName"
        type="text"
        formControlName="lastName"
        placeholder="Doe"
      />
      <div
        class="error"
        *ngIf="
          contactForm.get('lastName')?.touched &&
          contactForm.get('lastName')?.invalid
        "
      >
        Last name is required (min 2 chars).
      </div>

      <!-- Phone -->
      <label for="phone">Phone</label>
      <input
        id="phone"
        type="text"
        formControlName="phone"
        placeholder="Enter your mobile number"
      />
      <div
        class="error"
        *ngIf="
          contactForm.get('phone')?.touched && contactForm.get('phone')?.invalid
        "
      >
        Enter a valid 10-digit phone number.
      </div>

      <!-- Email -->
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="Enter email address"
      />
      <div
        class="error"
        *ngIf="
          contactForm.get('email')?.touched && contactForm.get('email')?.invalid
        "
      >
        Enter a valid email address.
      </div>

      <!-- Message / Textarea -->
      <label for="message">Message</label>
      <textarea
        id="message"
        formControlName="message"
        placeholder="Write your message here"
        rows="5"
      ></textarea>
      <div
        class="error"
        *ngIf="
          contactForm.get('message')?.touched &&
          contactForm.get('message')?.invalid
        "
      >
        Message is required (min 10 chars).
      </div>

      <br />
      <div class="btncont">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
